**/*.pt
**/checkpoints
**/wandb
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# setuptools editable-install metadata
*.egg-info/

# Large / generated data
data/parquet_files/
data/processed_video_cache/
